Repository robinmordasiewicz/faq: changes, and which Jenkins stages are due for each by the changed paths.
All: Create New Assets, Commit New Assets

Create New Assets:
        steps {
          container('mermaid-cli') {
            sh 'sh mermaid-cli.sh'
          }
        }
      

Commit New Assets:
        steps {
          sh 'git config user.email "robin@mordasiewicz.com"'
          sh 'git config user.name "Robin Mordasiewicz"'
          sh 'git add . && git diff --staged --quiet || git commit -m "New Assets"'
  ...

New Assets
  diagram1.png
  intro.mp4
  intro.png
  outro.png
Due: none

updating intro
  intro-diagram.py
  mermaid-config.json
Due: Create New Assets, Commit New Assets

updating intro
  intro-diagram.py
Due: Create New Assets, Commit New Assets

New Assets
  intro.mp4
  intro.png
  outro.png
Due: none

updating intro
  intro.mlt
  intro.mmd
Due: Create New Assets, Commit New Assets

New Assets
  diagram2.png
  intro.mp4
  intro.png
  outro.png
Due: none

updating intro
  intro.mmd
Due: Create New Assets, Commit New Assets

updating intro
  imagemagick.sh
Due: Create New Assets, Commit New Assets

updating intro
  corporate-template.png
Due: Commit New Assets

updating intro
  Jenkinsfile
Due: Create New Assets, Commit New Assets

New Assets
  intro.png
  outro.png
Due: none

updating intro
  flowchart.mmd
  flowchart.png
  flowchart.svg
Due: Commit New Assets

Path conditions:
  Create New Assets: (((((((((((((any of: 1920x1080-openslide.png) or (any of: f5-logo-rgb.png)) or (any of: imagemagick.sh)) or (any of: ffmpeg.sh)) or (any of: mlt.sh)) or (any of: diagrams.sh)) or (any of: marp.sh)) or (any of: mermaid-cli.sh)) or (any of: diagram.png)) or (any of: intro.mlt)) or (any of: intro.md)) or (any of: intro.mmd)) or (any of: Jenkinsfile)) or (any of: intro-diagram.py)
  Commit New Assets: (((not (any of: intro.png)) and (not (any of: intro.mp4))) and (not (any of: intro.pptx))) and (not (any of: diagram.png))
