Repository robinmordasiewicz/faq: changes, and which Jenkins stages are due for each by the changed paths.
All: Create New Assets, Commit New Assets

Create New Assets:
        steps {
          container('imagemagick') {
            sh 'sh imagemagick.sh'
          }
          container('ffmpeg') {
            sh 'sh ffmpeg.sh'
          }
        }
      

Commit New Assets:
        steps {
          sh 'git config user.email "robin@mordasiewicz.com"'
          sh 'git config user.name "Robin Mordasiewicz"'
          sh 'git add . && git diff --staged --quiet || git commit -m "New Assets"'
  ...

New Assets
  intro.mov
  intro.png
Due: none

New Assets
  intro.png
Due: none

updating intro
  imagemagick.sh
Due: Create New Assets, Commit New Assets

updating intro
  imagemagick.sh
  intro.png
Due: Create New Assets

updating intro
  corporate-template.png
  f5-logo-white.png
  imagemagick.sh
  intro.png
Due: Create New Assets

updating intro
  1920x1080-openslide.png
  imagemagick.sh
  intro.mov
  intro.png
Due: Create New Assets

updating intro
  clip1.mov
  ffmpeg.sh
  imagemagick.sh
  intro.mov
  intro.png
  output.mov
  outro.mov
  outro.png
  template-outro.png
  videos.txt
Due: Create New Assets

updating intro
  Jenkinsfile
Due: Commit New Assets

updating intro
  ffmpeg.sh
Due: Create New Assets, Commit New Assets

New Assets
  intro.mov
  intro.png
  outro.mov
  outro.png
Due: none

updating intro
  ffmpeg.sh
  intro.mov
  outputVideo.mov
  outro.mov
Due: Create New Assets

New Assets
  intro.mov
  intro.png
  outputVideo.mov
  outro.mov
  outro.png
Due: none

New Assets
  intro.png
  outro.png
Due: none

updating intro
  clip1.mov
  clips.js
  ffmpeg.sh
  intro.mov
  intro1.mov
  out.mp4
  outputVideo.mov
  outputVideo2.mov
  outro.mov
  outro1.mov
  tmp.sh
Due: Create New Assets

updating intro
  intro1.mov
  out.mp4
  output.mov
  outputVideo.mov
  outputVideo2.mov
  outro1.mov
Due: Commit New Assets

updating intro
  Jenkinsfile
  clips.js
Due: Commit New Assets

updating intro
  Jenkinsfile
  intro.mlt
  melt.sh
  output.mov
  testing.mov
Due: Commit New Assets

updating intro
  mlt.sh
Due: Commit New Assets

updating intro
  .gitignore
  Jenkinsfile
  clip1.mov
  clip1.mp4
  ffmpeg.sh
  intro.mlt
  intro.mov
  intro.png
  mlt.sh
  output.mov
  outro.mov
  outro.png
  template-outro.png
  testing.mov
  tmp.sh
Due: Create New Assets

updating intro
  .gitignore
  clips.js
  intro.mp4
  mlt.sh
Due: Commit New Assets

updating intro
  mlt.sh
  shotty.mlt
  videos.txt
Due: Commit New Assets

New Assets
  intro.mp4
  intro.png
  outro.png
Due: none

updating intro
  intro-voice.m4a
  intro.mlt
  intro.mp4
Due: Commit New Assets

Path conditions:
  Create New Assets: (((any of: 1920x1080-openslide.png) or (any of: f5-logo-rgb.png)) or (any of: imagemagick.sh)) or (any of: ffmpeg.sh)
  Commit New Assets: (not (any of: intro.png)) and (not (any of: intro.mov))
