Repository robinmordasiewicz/faq: changes, and which Jenkins stages are due for each by the changed paths.
All: Create new Images, Create new Diagrams, Create new mp4, Create New Assets, Commit New Assets

Create new Images:
        steps {
          container('imagemagick') {
            sh 'sh imagemagick.sh'
          }
        }
      

Create new Diagrams:
        steps {
          container('diagrams') {
            sh 'sh diagrams.sh'
          }
        }
      

Create new mp4:
        steps {
          container('melt') {
            sh 'sh melt.sh'
          }
        }
      

Create New Assets:
        steps {
          container('mermaid-cli') {
            sh 'sh mermaid-cli.sh'
          }
        }
      

Commit New Assets:
        steps {
          sh 'git config user.email "robin@mordasiewicz.com"'
          sh 'git config user.name "Robin Mordasiewicz"'
          sh 'git add . && git diff --staged --quiet || git commit -m "New Assets"'
          sh 'git status'
  ...

updating intro
  Jenkinsfile
Due: Commit New Assets

updating intro
  imagemagick.sh
Due: Create new Images, Commit New Assets

updating intro
  Jenkinsfile
  imagemagick.sh
Due: Create new Images, Commit New Assets

New Assets
  intro.png
  outro.png
Due: Create new Images

Delete intro.mp4
  intro.mp4
Due: none

Delete clip1.mp4
  clip1.mp4
Due: Commit New Assets

Delete intro-voice.m4a
  intro-voice.m4a
Due: Commit New Assets

Path conditions:
  Create new Images: (any of: imagemagick.sh) or (any of: intro.png)
  Create new Diagrams: ((any of: ASPEN.png) or (any of: diagrams.sh)) or (any of: intro-diagram.py)
  Create new mp4: (any of: melt.sh) or (any of: intro.mlt)
  Create New Assets: ((((((any of: 1920x1080-openslide.png) or (any of: f5-logo-rgb.png)) or (any of: ffmpeg.sh)) or (any of: marp.sh)) or (any of: mermaid-cli.sh)) or (any of: intro.md)) or (any of: intro.mmd)
  Commit New Assets: (((not (any of: intro.png)) and (not (any of: intro.mp4))) and (not (any of: intro.pptx))) and (not (any of: diagram.png))
