Repository robinmordasiewicz/faq: changes, and which Jenkins stages are due for each by the changed paths.
All: Create New Assets, Commit New Assets

Create New Assets:
        steps {
          container('imagemagick') {
            sh 'sh imagemagick.sh'
          }
          container('ffmpeg') {
            sh 'sh ffmpeg.sh'
          }
        }
      

Commit New Assets:
        steps {
          sh 'git config user.email "robin@mordasiewicz.com"'
          sh 'git config user.name "Robin Mordasiewicz"'
          sh 'git add . && git diff --staged --quiet || git commit -m "New Assets"'
  ...

updating intro
  Jenkinsfile
Due: Commit New Assets

New Assets
  intro.mp4
  intro.png
  outro.png
Due: none

updating intro
  Jenkinsfile
  intro.mp4
Due: Commit New Assets

New Assets
  intro.png
  outro.png
Due: none

updating intro
  imagemagick.sh
Due: Create New Assets, Commit New Assets

updating intro
  imagemagick.sh
  intro.mp4
  intro.png
  outro.png
Due: Create New Assets

updating intro
  Jenkinsfile
  intro.png
  output-mlt.mp4
  outro.png
Due: none

updating intro
  Jenkinsfile
  intro.mp4
  mlt.sh
Due: Commit New Assets

updating intro
  Jenkinsfile
  intro.md
  intro.pptx
  marp.sh
Due: Commit New Assets

updating intro
  marp.sh
Due: Commit New Assets

updating intro
  mlt.sh
Due: Commit New Assets

New Assets
  intro.mp4
  intro.png
  intro.pptx
  outro.png
Due: none

updating intro
  output-mlt.mp4
Due: Commit New Assets

updating intro
  intro.md
Due: Commit New Assets

updating intro
  .gitignore
Due: Commit New Assets

updating intro
  ~$intro.pptx
Due: Commit New Assets

Path conditions:
  Create New Assets: (((any of: 1920x1080-openslide.png) or (any of: f5-logo-rgb.png)) or (any of: imagemagick.sh)) or (any of: ffmpeg.sh)
  Commit New Assets: (not (any of: intro.png)) and (not (any of: intro.mov))
